rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /biasharastock_users/{userId} {
      // Users can only read/write their own document.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
